<?xml version="1.0" encoding="UTF-8"?>
<CONFIG FileExts="*.exe;*.dll;*.ocx;*.sys;*.cat;*.cab;*.msi;"><RULES><RULE Name="Driver" Cert="31E5380E1E0E1DD841F0C1741B38556B252E6231" Desc="" InfoUrl="" Timestamp="" FileExts="*.exe;*.dll;*.ocx;*.sys;*.cat;*.cab;*.msi;" EnumSubDir="0" SkipSigned="0" Time="2012-01-01 00:00:00"/></RULES></CONFIG>
